# R2 - SkLearn

* Calculando o valor de R2 utilizando a biblioteca SkLearn
* @CursoDS_ProfDanilo
* Prof. Dr. Danilo Morales Teixeira
* cursods.profdanilo@gmail.com

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('Calc_R2.csv')

In [3]:
dados.head()

            Y          Y1          Y2          Y3          Y4          Y5
0 -442.000000 -302.243056 -222.381944 -442.000000 -442.000000 -442.000000
1 -323.374421 -273.461227 -213.565394 -323.374421 -323.374421 -323.374421
2 -226.884259 -244.679398 -203.012731 -226.884259 -226.884259 -226.884259
3 -150.359375 -215.897569 -190.723958 -150.359375 -150.359375 -150.359375
4  -91.629630 -187.115741 -176.699074  -91.629630  -91.629630  -91.629630

In [4]:
Y = dados['Y'].values
Y1 = dados['Y1'].values
Y2 = dados['Y2'].values
Y3 = dados['Y3'].values
Y4 = dados['Y4'].values
Y5 = dados['Y5'].values

In [5]:
from sklearn.metrics import r2_score

In [6]:
r2_1 = r2_score(Y,Y1)
r2_2 = r2_score(Y,Y2)
r2_3 = r2_score(Y,Y3)
r2_4 = r2_score(Y,Y4)
r2_5 = r2_score(Y,Y5)

In [7]:
print("R2 (Grau 1) = ",r2_1)
print("R2 (Grau 2) = ",r2_2)
print("R2 (Grau 3) = ",r2_3)
print("R2 (Grau 4) = ",r2_4)
print("R2 (Grau 5) = ",r2_5)

R2 (Grau 1) =  0.7712730521486528
R2 (Grau 2) =  0.8003177439393002
R2 (Grau 3) =  1.0
R2 (Grau 4) =  1.0
R2 (Grau 5) =  1.0