In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
animals=pd.read_csv('dataset_102a_100K.csv')

In [3]:
animals

,id,country,city,gender,ethnicity,animal_type,animals,humans,is_required,last_updated_date
0,1,China,Nuoxizhi,Male,Tongan,elephant,1733,9988566,0,2016-01-19
1,2,China,Tanbuqiao,Female,White,dog,403,4367849,0,2016-03-29
2,3,United States,El Paso,Male,Cuban,dog,6193,2939235,0,2016-03-20
3,4,China,Zhongxin,Male,Spaniard,rabbit,9041,4852207,0,2016-06-10
4,5,China,Bijia,Female,Colombian,cat,7505,6728496,0,2016-01-17
...,...,...,...,...,...,...,...,...,...,...
99995,99996,China,Beihe,Female,Ottawa,rabbit,846,562664,0,2016-08-07
99996,99997,China,Yanhu,Male,American Indian,horse,9817,9835707,0,2015-12-19
99997,99998,United States,Sacramento,Male,Creek,horse,3173,9945513,0,2016-05-23
99998,99999,Brazil,Petrolina,Female,Houma,rabbit,4436,314459,1,2016-09-17
99999,100000,United States,Wichita,Female,Malaysian,horse,7928,9746872,0,2016-02-28

In [4]:
animals['country'].unique()

array(['China', 'United States', 'Brazil', 'Canada', 'India'],
      dtype=object)

In [5]:
animals['animal_type'].unique()

array(['elephant', 'dog', 'rabbit', 'cat', 'horse'], dtype=object)

In [6]:
dogs=animals.loc[animals['animal_type']=='dog']

In [7]:
dogs_count=dogs['animals'].count()

In [8]:
dogs_count

19909